<div id="editStudentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{data.user.firstName + " " + data.user.lastName}}</h4>
            </div>
            <div class="modal-body">
                <p *ngFor="let markInfo of data.marks">{{markInfo.subject}} <span *ngFor="let mark of markInfo.marks">{{mark}} </span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
