<h1>{{title}}</h1>
<section>
    <h2>Web gradebook and parent portals</h2>
    <p>From online inquiries and applications, to managing student and staff data, to connecting with students and families via web and mobile, our platform can transform your school.</p>
    <ul>
        <li>Streamline administrative tasks and save time with our student information system.</li>
        <li>Manage student information across your entire school district.</li>
        <li>Improve school-to-home communication with web portals for teachers, students and parents.</li>
        <li>Make information easily available online for students, parents and staff.</li>
        <li>Access and manage student data on phones and tablets with our mobile apps.</li>
        <li>Manage your entire admissions process, from online applications to enrollment.</li>
        <li>Improve professional development with classroom walkthroughs and teacher evaluations.</li>
        <li>Impress your school community with a great-looking, affordable responsive website.</li>
    </ul>
</section>