<nav [@animate]="'zoomInRight'" class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Placeholder</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul [@animate]="'rotateInDownRight'" class="nav navbar-nav">
                <li class="nav-item"><a class="" routerLink="/home" routerLinkActive="active">Home</a></li>
                <li class="nav-item"><a class="" routerLink="/about" routerLinkActive="active">About Us</a></li>
                <li class="nav-item"><a class="" routerLink="/users" routerLinkActive="active">Users</a></li>
                <li *ngIf="auth.userIs('teacher')" class="nav-item"><a class="" routerLink="/classes" routerLinkActive="active">Classes</a></li>
                <li *ngIf="auth.userIs('teacher')" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="nav-item"><a class="dropdown-item" routerLink="/addMark" routerLinkActive="active">Add
                            Mark</a></li>
                        <li class="nav-item"><a class="dropdown-item" routerLink="/addClass" routerLinkActive="active">Add
                            Class</a></li>
                        <li class="nav-item"><a class="dropdown-item" routerLink="/addTeacher" routerLinkActive="active">Add
                            Teacher</a></li><li class="nav-item"><a class="dropdown-item" routerLink="/assign" routerLinkActive="active">Assign classes</a></li>

                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button (click)="show" [@animate]="'rotateInDownRight'" *ngIf="show" type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul [@animate]="'rotateInDownRight'" class="nav navbar-nav navbar-right">
                <li *ngIf="!auth.isLoggedIn()" class="nav-item"><a class="" routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li *ngIf="!auth.isLoggedIn()" class="nav-item"><a class="" routerLink="/register" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                <li *ngIf="auth.isLoggedIn()" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hi, {{auth.getCurrentUser()}}<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="nav-item"><a class="" routerLink="/profile" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span>  My Profile</a></li>
                        <li class="nav-item"><a class="" href="#" (click)="auth.logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<simple-notifications [options]="notifierOptions"></simple-notifications>
<div class="container main">
        <!-- routing here -->
        <router-outlet></router-outlet>
</div>