html, body {
    height: 100%;
}

.blur-photo {
    background-image: url("../images/background.jpg");
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.nav.navbar-nav > li > a {
    color: #fff
}

.nav.navbar-nav > li > a:hover {
    color: #bdc3c7;
    background-color: #fff
}

.nav.navbar-nav > li > a.active {
    color: #fff;
    background-color: #bdc3c7
}

.main {
    padding-top: 30px;
    background-color: #fff;
    border-radius: 10px;
    min-height: 93%;
}

.navbar {
    margin-bottom: 0;
}

.navbar-toggle {
    border-color: #ddd;
}

.navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}

.simple-notification {
    z-index: 9999;
}