<div class="col-md-6 col-md-offset-3 clear-background">
    <h2>Add Class to School</h2>
    <form name="form" (ngSubmit)="f.form.valid && loadNewClass()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted}">
            <label for="subjects">Subjects</label>
            <input class="form-control" ng2-auto-complete [(ngModel)]="autoCompleteModelSubjects" name="subjects" [source]="subjects" required />
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted}">
            <label for="grade">Grade</label>
            <input class="form-control" ng2-auto-complete [(ngModel)]="autoCompleteModelGrades" name="grades" [source]="grades" #grade="ngModel" required />
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted}">
            <label for="student">Students</label>
            <input type="text" class="form-control" name="grade" [(ngModel)]="model.students" #students="ngModel" required />
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>