<div class="col-md-6 col-md-offset-3">
    <create-student-modal></create-student-modal>
    <h2>Add Class to School</h2>
    <form name="form" (ngSubmit)="f.form.valid && createClass()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !grade.valid }">
            <label for="grade">Grade</label>
            <input class="form-control" name="grade"
                   [(ngModel)]="model.grade" #grade="ngModel"
                   id="grade" required placeholder="Enter an unique class identifier. E.g. '12A' "/>

            <div *ngIf="f.submitted && !grade.valid" class="help-block">Grade is required</div>
        </div>

        <div class="form-group well">
            <label class="control-label" for="subjects">Add subjects</label><br>
            <input class="form-control" ng2-auto-complete [source]="subjects" name="subjects"
                   #subject id="subjects" placeholder="Enter a subject name"/>
            <button class="btn btn-default btn-primary" type="button"
                    (click)="addSubject(subject.value); subject.value = ''">Add Subject
            </button>

            <ul class="list-group">
                <li *ngFor="let subject of model.subjects" class="list-group-item">
                    <span>{{subject}}</span>
                    <button (click)="removeSubject(subject)" class="badge btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
                </li>
            </ul>

        </div>
        <div class="form-group well">
            <label for="students">Students</label><br>
            <input (focus)="getStudents()" class="form-control" ng2-auto-complete name="students"
                   [source]="studentData" value-property-name="username" #student id="students"
                   display-property-name="_id" placeholder="Search for student"/>

            <button class="btn btn-default btn-primary" type="button"
                    (click)="addStudent(student.value); student.value = ''">Add Student
            </button>

            <ul class="list-group">
                <li *ngFor="let st of model.students" class="list-group-item">
                    <span>{{st.user.firstName + ' ' + st.user.lastName}}</span>
                    <button (click)="removeStudent(st._id)" class="badge btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-success btn-lg">Submit</button>
        </div>
    </form>
</div>