<div *ngIf="model.marks.length > 0" class="panel-group col-md-6 col-centered well" id="accordion" role="tablist" aria-multiselectable="true">
    <div *ngFor="let markInfo of model.marks" class="panel panel-default">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion"
                   [attr.href]="'#' + markInfo.subject"
                   aria-expanded="true" [attr.aria-controls]="markInfo.subject">
                    <i class="more-less glyphicon glyphicon-chevron-down"></i>{{markInfo.subject | splitByCapitalLetters}} marks
                </a>
            </h4>
        </div>
        <div id="{{markInfo.subject}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <thead>
                    <th>Mark</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Teacher</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let mark of markInfo.marks">
                        <td>{{mark.value}}</td>
                        <td>{{mark.date | date: 'dd.MM.y'}}</td>
                        <td>{{MarkType[mark.markType] | splitByCapitalLetters}}</td>
                        <td>{{mark.teacher}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div *ngIf="model.marks.length <= 0" class="panel-group col-md-6 col-centered well">
    <h4>You don't have any marks yet!</h4>
</div>