<div class="row clear-background">
    <div class="col-md-6 mb-r">
    <img [src]='user.imagePath' />
    <h2>Upload your photo here</h2>
    <form name="form" enctype="multipart/form-data" (ngSubmit)="f.form.valid && uploadPhotoForUser()" #f="ngForm" novalidate >
        <input class="form-control btn btn-success" type="file" name="photo" placeholder="Choose from file" accept="image/*" required />
        <input class="btn btn-success" type="submit" value="Save" />
    </form>
    </div>
    <div class="col-md-6 mb-r">
    <div>Username: {{user.username}}</div>
    <div>First Name: {{user.firstName}}</div>
    <div>Last Name: {{user.lastName}}</div>
    <div>E-Mail: {{user.email}}</div>
    </div>
</div>