<h3>Now viewing {{teacher.subject}} marks for {{data.grade}} class.</h3>

<table class="table table-striped table-hover table-responsive table-sm">
    <thead>
    <tr>
        <th>Class Number</th>
        <th>Name</th>
        <th>Marks</th>
        <th>Average</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of  (data.students | sortByClassNumber)">
        <td scope="row">{{student.classNumber}}</td>
        <td>{{student.user.firstName + ' ' + student.user.lastName}}</td>
        <td><span *ngFor="let markInfo of (student.marks | filterByTeacherSubject:teacher.subject)"><span *ngFor="let mark of markInfo.marks"> {{mark.value}},</span></span></td>
        <td><span *ngFor="let markInfo of (student.marks | filterByTeacherSubject:teacher.subject)"><span>{{markInfo.marks | average}}</span></span></td>
        <td>
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#editStudentModal" (click)="onEditClick(student)"><span class="glyphicon glyphicon-pencil"></span></button>
        </td>
    </tr>
    </tbody>
</table>

<single-student [(data)]="currentStudent" [(teacher)]="teacher"></single-student>