<button class="btn btn-warning btn-lg" data-toggle="modal" data-target="#createStudentModal">Register a new student</button>
<div id="createStudentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create a new student</h4>
            </div>
            <div class="modal-body">
                <create-student></create-student>
            </div>
        </div>
    </div>
</div>
