<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createStudentModal">{{buttonText}}</button>
<div id="createStudentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" #closeButton>&times;</button>
                <h4 class="modal-title">Create a new student</h4>
            </div>
            <div class="modal-body">
                <create-student [(studentClass)]="studentClass" (onFormSubmitted)="closeButton.click()"></create-student>
            </div>
        </div>
    </div>
</div>
