<div [@flyInOut]="'in'" class="row clear-background">
    <div class="col s12">
        <div class="card grey darken-1">
            <div class="card-image">
                <img src="http://www.butts.walsall.sch.uk/website/w289/file/repository/Class%20book%20corner.jpg">
                <div class="card-title">What's this site about?</div>
            </div>
            <div class="card-content white-text">
                <p>This is a simple site that makes it possible students, parents and teachers got information for each student marks and subjects in current school.
                    You can register from the form on the homepage and watch statistics page.                   <p>
            </div>
        </div>
    </div>
</div>