<div [@flyInOut]="'in'">
    <div class="col s12">
        <div class="card grey darken-1">
            <div class="card-image">
                <img src="http://www.butts.walsall.sch.uk/website/w289/file/repository/Class%20book%20corner.jpg">
                <div class="card-title">What's this site about?</div>
            </div>
            <div class="card-content white-text">
                <p>This is a simple site that makes it possible students, parents and teachers got information for each student marks and subjects in current school.
                    You can register from the form on the homepage and watch statistics page.                   <p>
            </div>
        </div>
    </div>
    <footer class="container">
        <p class="text-muted">Made by Team CyberDesign for Telerik Academy's Angular2 Single Page Applications Course.</p>
        <a href="https://github.com/Teamwork-CyberDesign/Angular2---SPA-Application">View source</a>
        <a class="btn btn-block btn-social-icon btn-facebook" ceiboShare  [facebook]="{u: repoUrl}">Facebook</a>
        <a class="btn btn-block btn-social-icon btn-linkedin" ceiboShare  [linkedIn]="{url:repoUrl}">Linkedin</a>
        <a class="btn btn-block btn-social-icon btn-google" ceiboShare  [googlePlus]="{url:repoUrl}">Google Plus</a>
        <a class="btn btn-block btn-social-icon btn-twitter" ceiboShare  [twitter]="{url:repoUrl, text:'Checkout this awesome ng2 single page application', hashtags:'angular2, social, gradebook'}">Twitter</a>
    </footer>
</div>
